mcp>=1.10.1
pydantic
fastapi
uvicorn
cachetools
pyyaml
langgraph
langchain
requests
langchain-community
langchain-google-genai
graphviz
ipython
pymongo
colorlog
colorama
a2a-sdk
a2a
google-adk
python-dotenv
sentence-transformers
tiktoken
numpy